# Gitの使用に関して
- 開発はfeatureブランチで実施
- mainブランチへの直接プッシュは禁止
- 何らかの変更を加えた場合は適時にコミットを取る
- プルリクエスト必須
- リポジトリへの操作はGitHub MCPを使用する
- リモートブランチへのコミットは禁止し、ローカルブランチのみで作業する

# 財務指標
- EPSなど発行株式数を考慮する指標は、希薄化後発行株式数を基準とする

# 利用しているライブラリのドキュメント
- yfinance https://yfinance-python.org/reference/index.html